@CHARSET "ISO-8859-1";

#content {
	background-color: #FFDB32;
	background-color: white;
	border: 4px solid #000000;
	
	height: 200px;
	width: 500px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-box-shadow: 0px 0px 50px #614727;
	-moz-box-shadow: 2px 2px 5px #746952;
	
	margin-top: -100px;
	top: 50%;
	position: absolute;
	margin-left: -250px;
	left: 50%;
}

.loginLine {
	width: 360px;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}

#submitLine {
	bottom: 0px;
	position: absolute;
	right: 35%;
	margin-bottom: 10px;
}

#parasImg {
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	position: absolute;
}

.inputLogin {
	float: right;
	width: 240px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-color: black;
}

.btnl {
	height: 30px;
	width: 80px;
}