<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
    <title>PARASITE-EDITOR</title>
    <script src="../js/jquery/jquery-1.10.2.js"></script>
	<script src="../js/jquery/jquery-ui-1.10.4.custom.js"></script>
	<script src="../js/dynatree/jquery.dynatree.js"></script>
	<script src="../js/dynatree/scriptTree.js"></script>
	<script src="../js/httpPetitions.js"></script>
	<script src="../js/editor.js"></script>
	<script src="templates/editor_help.html" type="text/html"></script>
	<LINK href="../css/dynatree/ui.dynatree.css" rel="stylesheet" type="text/css">
	<LINK href="../css/widgets.css" rel="stylesheet" type="text/css">
	<LINK href="../css/editor.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="info">
		<button id="exit" class="exit">
			<img class="exitImg" alt="" src="../img/exit.jpg">
		</button>
		<iframe id="help_template" src="templates/editor_help.html"></iframe>
	</div>

	<div id="editorHeader">
		<div id="header">
			<button id="generalHelp" class="helpButton">
				<img id="helpIcon" alt="" src="../img/help.jpg">
			</button>
			<span id="title">PARASITE EDITOR</span>
			<span id="userName"></span>
		</div>
		<script type="text/javascript">
			var header = document.getElementById("userName");
			header.innerText = localStorage.getItem("user");			
		</script>
	</div>
	<div id="editorContent">
		<div id="editorTree">
			<div id="optionButtons">
				<button id="addNode" class="optionBtn"><img class="optionBtnImg" alt="" src="../img/new.png"></button>
				<button id="deleteNode" class="optionBtn"><img class="optionBtnImg" alt="" src="../img/delete.png"></button>
				<button id="saveFiles" class="optionBtn"><img class="optionBtnImg" alt="" src="../img/save.jpg"></button>
			</div>
			<div id="tree"> </div>
		</div>
		
		<div id="editorScript">
		
		
			<!-- Tab instance -->
				<div id="tabs">
					<ul id="ultab">
					    <li class="li_edit"><a class="btnEdit" href="#tabs-1">Default</a></li>
					    <li class="li_edit"><a class="btnEdit" href="#tabs-2">new</a></li>
					</ul>
					<div id="tabs-1">
					    <div id="headEdit">
							<div id="fileEditorHead">
								<label class="FLHead"> Event Type</label>
								<label id="XPath" class="FLHead"> X-Path Element Route</label>
								<label class="FLHead"> Event Dates</label>
							</div>
						</div>
						<div id="fileEditor">
							
							<div id="line" class="line">
								<select id="eventType">
								  <option value="click">Click()</option>
								  <option value="changeValue">ChangeValue()</option>
								  <option value="keyPress">keyPress()</option>
								  <option value="wait">Wait()</option>
								</select>
								<input id="xPathElement" type="text">
								<input id="eventDates" type="text">
							</div>
						</div>
						<div id="fileEditorBtn">
							<button id="addLine">Add new script line</button>
					</div>
					
				</div>
				<div id="tabs-2">
					  <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
				</div>
				
			</div>
		</div>
	</div>

		
</body>
</html>


