<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
    <title>PARASITE-EDITOR</title>
    <script src="../js/jquery/jquery-1.10.2.js"></script>
	<script src="../js/jquery/jquery-ui-1.10.4.custom.js"></script>
	<script src="../js/httpPetitions.js"></script>
	<LINK href="../css/widgets.css" rel="stylesheet" type="text/css">
	<LINK href="../css/editor.css" rel="stylesheet" type="text/css">
</head>
<body>

	<div id="editorHeader">
		<div id="header">
			<button id="generalHelp" class="helpButton">
				<img id="helpIcon" alt="" src="../img/help.jpg">
			</button>
			<span id="title">PARASITE EDITOR</span>
			<span id="userName"></span>
		</div>
		<script type="text/javascript">
			var header = document.getElementById("userName");
			header.innerText = localStorage.getItem("user");	
		</script>
	</div>
	<div id="editorContent">
		<div id="editorTree">
		</div>
		<div id="editorScript">
		</div>
		<div id="editorInfo"></div>
	</div>
	
</body>
</html>