<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>PARASITE-LOGIN</title>
    <script src="../js/jquery/jquery-1.10.2.js"></script>
	<script src="../js/jquery/jquery-ui-1.10.4.custom.js"></script>
	<LINK href="../css/widgets.css" rel="stylesheet" type="text/css">
	<LINK href="../css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="content">
		<img id="parasImg" alt="" src="../img/happyblue.jpg">
		<div id="user" class="loginLine">
			<label id="userAccount">User account</label>
			<input class="inputLogin" type="text">
		</div>
		<div id="password" class="loginLine">
			<label id="psswd">Password</label>
			<input id="psswdP" class="inputLogin" type="password">
		</div>
		<div id="submitLine" class="loginLineButtons">
			<button id="acept" class="btnl">Acept</button>
			<button id="cancel" class="btnl" onclick="window.location.href='../index.html'">Cancel</button>
		</div>
	</div>
</body>
</html>