<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>PARASITE-SING_UP</title>
    <script src="../js/jquery/jquery-1.10.2.js"></script>
	<script src="../js/jquery/jquery-ui-1.10.4.custom.js"></script>
	<script src="../js/singUp.js"></script>
	<LINK href="../css/widgets.css" rel="stylesheet" type="text/css">
	<LINK href="../css/singUp.css" rel="stylesheet" type="text/css">
	<script type="text/javascript">
		$(document).ready(function(){
			$("#singUpOK").hide();
		});
	</script>
</head>
<body>
	<div id="singUpOK">
			<p id="message">Sing up success, go to login page to access the application</p>
			<button id="goToLogin" class="btn" onclick="window.location.href='../index.html'">Go to Login</button>
	</div>
	<div id="content">
		<img id="parasImg" alt="" src="../img/green.jpg">
		<h1>SING UP PROCESS</h1>
		<div id="contentLabels">
			<div id="username" class="singUpLine">
				<label id="usernamelabel">User Name: </label>
				<input id="usernameInput" class="inputSingUp" type="text">
			</div>
			<div id="pssd" class="singUpLine">
				<label id="pssdlabel">Password: </label>
				<input id="pssdInput" class="inputSingUp" type="text">
			</div>
			<div id="repssd" class="singUpLine">
				<label id="repssdlabel">Repeat Password: </label>
				<input id="repssdInput" class="inputSingUp" type="text">
			</div>
			<div id="name" class="singUpLine">
				<label id="namelabel">Name: </label>
				<input id="nameInput" class="inputSingUp" type="text">
			</div>
			<div id="surname" class="singUpLine">
				<label id="surnameLabel">Surname: </label>
				<input id="surnameInput" class="inputSingUp" type="text">
			</div>
			<div id="app" class="singUpLine">
				<label id="applabel">App name: </label>
				<input id="appInput" class="inputSingUp" type="text">
			</div>
			<div id="mail" class="singUpLine">
				<label id="maillabel">E-mail: </label>
				<input id="mailInput" class="inputSingUp" type="text">
			</div>
			<div id="phone" class="singUpLine">
				<label id="phonelabel">Phone: </label>
				<input id="phoneInput" class="inputSingUp" type="text">
			</div>
			<div id="zipcode" class="singUpLine">
				<label id="zipcodelabel">Zipcode: </label>
				<input id="zipcodeInput" class="inputSingUp" type="text">
			</div>
			<div id="submitLine" class="loginLineButtons">
				<button id="acept" class="btnl" onclick="singUp()">Acept</button>
				<button id="cancel" class="btnl" onclick="window.location.href='../index.html'">Cancel</button>
			</div>
		</div>
	</div>
</body>
</html>