<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>PARASITE-SING_UP</title>
    <script src="../js/jquery/jquery-1.10.2.js"></script>
	<script src="../js/jquery/jquery-ui-1.10.4.custom.js"></script>
	<LINK href="../css/widgets.css" rel="stylesheet" type="text/css">
	<LINK href="../css/singUp.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="content">
		<img id="parasImg" alt="" src="../img/green.jpg">
		<h1>SING UP PROCESS</h1>
		<div id="contentLabels">
			<div id="username" class="singUpLine">
				<label id="usernamelabel">User Name: </label>
				<input id="usernameInput" class="inputSingUp" type="text" value="Your user name">
			</div>
			<div id="pssd" class="singUpLine">
				<label id="pssdlabel">Password: </label>
				<input id="pssdInput" class="inputSingUp" type="text" value="Your password">
			</div>
			<div id="repssd" class="singUpLine">
				<label id="repssdlabel">Repeat Password: </label>
				<input id="repssdInput" class="inputSingUp" type="text" value="">
			</div>
			<div id="surname" class="singUpLine">
				<label id="surnameLabel">Surname: </label>
				<input id="surnameInput" class="inputSingUp" type="text" value="Your surname">
			</div>
			<div id="app" class="singUpLine">
				<label id="applabel">App name: </label>
				<input id="appInput" class="inputSingUp" type="text" value="Your app name">
			</div>
			<div id="mail" class="singUpLine">
				<label id="maillabel">E-mail: </label>
				<input id="mailInput" class="inputSingUp" type="text" value="example@email.com">
			</div>
			<div id="phone" class="singUpLine">
				<label id="phonelabel">Phone: </label>
				<input id="phoneInput" class="inputSingUp" type="text" value="6XX XX XX XX">
			</div>
			<div id="zipcode" class="singUpLine">
				<label id="zipcodelabel">Zipcode: </label>
				<input id="zipcodeInput" class="inputSingUp" type="text" value="xxxxx">
			</div>
			<div id="submitLine" class="loginLineButtons">
				<button id="acept" class="btnl">Acept</button>
				<button id="cancel" class="btnl" onclick="window.location.href='../index.html'">Cancel</button>
			</div>
		</div>
	</div>
</body>
</html>