<html>
	<head>
		<LINK href="../../css/templates/editor_help.css" rel="stylesheet" type="text/css">
	</head>
	
	<body>
		<div id="editor_help">
			<ul id="steps">
				<li> 1. Choose some actions you want to execute over UI.
				<li> 2. Save file.
				<li> 3. Go to play view and run the  tests.
			</ul>
			<p>Event type</p>
			<p>Choose a event type to execute over UI</p>
			<p>X-Path Element Route</p>
			<p>Add X-Path root of UI element you want to execute previus effect</p>
			<p>Event Dates</p>
			<p>Add dates with relation to event</p>
		</div>
	</body>
</html>

